# BUSINESS PROBLEM & UNDERSTANDING
STAKEHOLDER:SPOTIFY
PROBLEM: Spotify is launch a new Movie Divison. We are contracted Data Scientist tasked with  creating a reccomendation system . We want to compete with other streaming platforms such as Netflix, Hulu, Amazon Prime. Since they are new to the market, they want to ensure that their Reccomendation System is accurate and reliable.   

 Your task is to:

Build a model that provides top 5 movie recommendations to a user, based on their ratings of other movies.
The MovieLens dataset is a "classic" recommendation system dataset, that is used in numerous academic papers and machine learning proofs-of-concept. You will need to create the specific details about how the user will provide their ratings of other movies, in addition to formulating a more specific business problem within the general context of "recommending movies".

# Data Preparation

In [1]:
#Importing Libraries 
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder

import matplotlib.pyplot as plt
import seaborn as sns
import surprise
from surprise.prediction_algorithms import *
import pandas as pd
import numpy as np
from datetime import datetime

from collections import Counter

from surprise import Dataset, Reader
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split
%matplotlib inline

In [2]:
# Reading in datasets
df_movies = pd.read_csv('data/movies.csv')
df_links = pd.read_csv('data/links.csv')
df_ratings = pd.read_csv('data/ratings.csv')
df_tags = pd.read_csv('data/tags.csv')

In [3]:
#looking at each indivdual csv before merging.
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [4]:
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [5]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [6]:
df_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

Converting Ratings and Tags Timestamps to Datetime format

In [7]:
#df_ratings['timestamp'] = pd.to_datetime(df_ratings['timestamp'])
#df_tags['timestamp'] = pd.to_datetime(df_tags['timestamp'])

In [8]:
df_ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [9]:
df_movies[df_movies['title'].duplicated() == True]

,movieId,title,genres
5601,26958,Emma (1996),Romance
6932,64997,War of the Worlds (2005),Action|Sci-Fi
9106,144606,Confessions of a Dangerous Mind (2002),Comedy|Crime|Drama|Romance|Thriller
9135,147002,Eros (2004),Drama|Romance
9468,168358,Saturn 3 (1980),Sci-Fi|Thriller

Merging Dataset to one Pandas Database

In [10]:
# combining the Movies, Ratings, Tags Dataset. Not including Links dataset due to its non relevance to the business problem.
movie_combo = pd.merge(df_movies, df_ratings, left_on='movieId', right_on='movieId', how='left')

movie_combo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100854 entries, 0 to 100853
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movieId    100854 non-null  int64
 1   title      100854 non-null  object
 2   genres     100854 non-null  object
 3   userId     100836 non-null  float64
 4   rating     100836 non-null  float64
 5   timestamp  100836 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 5.4+ MB

In [11]:
movie_combo.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [12]:
movie_combo.drop(['genres'], axis=1)

,movieId,title,userId,rating,timestamp
0,1,Toy Story (1995),1.0,4.0,9.649827e+08
1,1,Toy Story (1995),5.0,4.0,8.474350e+08
2,1,Toy Story (1995),7.0,4.5,1.106636e+09
3,1,Toy Story (1995),15.0,2.5,1.510578e+09
4,1,Toy Story (1995),17.0,4.5,1.305696e+09
...,...,...,...,...,...
100849,193581,Black Butler: Book of the Atlantic (2017),184.0,4.0,1.537109e+09
100850,193583,No Game No Life: Zero (2017),184.0,3.5,1.537110e+09
100851,193585,Flint (2017),184.0,3.5,1.537110e+09
100852,193587,Bungo Stray Dogs: Dead Apple (2018),184.0,3.5,1.537110e+09
100853,193609,Andrew Dice Clay: Dice Rules (1991),331.0,4.0,1.537158e+09

In [13]:
# Filling in missing timestamp values with the mode. 
movie_combo['timestamp'] = movie_combo['timestamp'].fillna(movie_combo['timestamp'].mode()[0])
movie_combo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100854 entries, 0 to 100853
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movieId    100854 non-null  int64
 1   title      100854 non-null  object
 2   genres     100854 non-null  object
 3   userId     100836 non-null  float64
 4   rating     100836 non-null  float64
 5   timestamp  100854 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 5.4+ MB

In [14]:
# Filling in missing rating values with the mode. 
movie_combo['rating'] = movie_combo['rating'].fillna(movie_combo['rating'].mode()[0])
movie_combo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100854 entries, 0 to 100853
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movieId    100854 non-null  int64
 1   title      100854 non-null  object
 2   genres     100854 non-null  object
 3   userId     100836 non-null  float64
 4   rating     100854 non-null  float64
 5   timestamp  100854 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 5.4+ MB

In [15]:
movie_combo['timestamp'] = movie_combo['timestamp'].astype(int)

In [16]:
movie_combo.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1305696483

In [17]:
movie_combo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100854 entries, 0 to 100853
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movieId    100854 non-null  int64
 1   title      100854 non-null  object
 2   genres     100854 non-null  object
 3   userId     100836 non-null  float64
 4   rating     100854 non-null  float64
 5   timestamp  100854 non-null  int32
dtypes: float64(2), int32(1), int64(1), object(2)
memory usage: 5.0+ MB

In [18]:
movie_combo.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1305696483

In [19]:
# converting timestamp to datetime index format


movie_combo['timestamp'] = movie_combo['timestamp'].apply(lambda t: datetime.utcfromtimestamp(t*1).strftime('%Y-%m-%d'))
movie_combo.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,2017-11-13
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,2011-05-18

In [20]:
# Converting duplicate titles to the lower of 'movieId' duplicates as the lower value had more user ratings in each instance.
# This step was performed after merging the dateframes as we didn't want to lose data before the merge.

for idx, row in movie_combo.iterrows():
    # Emma (1996)
    if  movie_combo.loc[idx,'movieId'] == 26958:
        movie_combo.loc[idx,'movieId'] = 838
    # War of the Worlds (2005)
    elif movie_combo.loc[idx,'movieId'] == 64997:
        movie_combo.loc[idx,'movieId'] = 34048
    # Confessions of a Dangerous Mind (2002)
    elif movie_combo.loc[idx,'movieId'] == 144606:
        movie_combo.loc[idx,'movieId'] = 6003
    # Eros (2004)
    elif movie_combo.loc[idx,'movieId'] == 147002:
        movie_combo.loc[idx,'movieId'] = 32600
    # Saturn 3 (1980)
    elif movie_combo.loc[idx,'movieId'] == 168358:
        movie_combo.loc[idx,'movieId'] = 2851
    else:
        continue

In [21]:
# Verify corrections (Should be blank)
movie_combo[(movie_combo['movieId'] == 26958 | 64997 | 144606 | 147002 | 168358)]

Empty DataFrame
Columns: [movieId, title, genres, userId, rating, timestamp]
Index: []

# Train Test Split

In [22]:
#reader = Reader(rating_scale =(0.5, 5) ) 
#df = Dataset.load_from_df(new_df,reader)

In [23]:

data = movie_combo[['userId', 'movieId', 'rating']]
reader = Reader(line_format='user item rating', sep=',',rating_scale=(0.5, 5))
data = Dataset.load_from_df(data,reader =reader)
# train-test-split
#trainset, testset = train_test_split(data, test_size=.2)


trainset, testset = surprise.model_selection.train_test_split(data, test_size=0.2, random_state=42)

# Baseline/ Dummy Model  KNN model

In [24]:
knn_model = KNNBasic().fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [25]:
svd_model = SVD().fit(trainset)

In [26]:
nmf_model = NMF().fit(trainset)

In [27]:
from surprise import KNNWithMeans
from surprise.model_selection import GridSearchCV

sim_options = {
    "name": ["msd", "cosine","pearson"],
    "min_support": [3, 4],
    "user_based": [False, True]
}

param_grid = {"sim_options": sim_options}

gs = GridSearchCV(KNNWithMeans, param_grid, measures=["rmse", "mae"], cv=3)
gs.fit(data)

print(gs.best_score["rmse"])
print(gs.best_params["rmse"])

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
0.9053623065682667
{'sim_options': {'name': 'msd', 'min_support': 3, 'user_based': True}}

In [28]:
print(gs.best_score["mae"])
gs.best_params["mae"]

0.6899463389347106

{'sim_options': {'name': 'msd', 'min_support': 3, 'user_based': False}}

In [29]:
param_grid = {
    "n_epochs": [5, 10],
    "lr_all": [0.002, 0.005],
    "reg_all": [0.4, 0.6]
}
gs = GridSearchCV(SVD, param_grid, measures=["rmse", "mae"], cv=3)

gs.fit(data)

print(gs.best_score["rmse"])
print(gs.best_params["rmse"])

0.8939129858943914
{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.4}

In [30]:
param_grid = {
    "n_neighbors": [3,4,5],
    "leaf_size": [3,4,5],
    "weights": ['uniform', 'distance'],
    "p": [1,2],
    "n_jobs": [-1]
}
gs = GridSearchCV(KNNBasic, param_grid, measures=["rmse", "mae"], cv=3)

gs.fit(data)

print(gs.best_score["rmse"])
print(gs.best_params["rmse"])
print(gs.best_score["mae"])
print(gs.best_params["mae"])

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
0.9555810931629042
{'n_neighbors': 3, 'leaf_size': 3, 'weights': 'uniform', 'p': 1, 'n_jobs': -1}
0.7332055831748558
{'n_neighbors': 3, 'leaf_size': 3, 'weights': 'uniform', 'p': 1, 'n_jobs': -1}

knn_model.sim

knn_model.test(testset)

In [31]:
surprise.accuracy.mae(knn_model.test(testset))

MAE:  0.7320

0.7320462148231864

In [32]:
surprise.accuracy.rmse(knn_model.test(testset))

RMSE: 0.9553

0.9552557789041456

In [33]:
surprise.accuracy.mae(svd_model.test(testset))

MAE:  0.6779

0.6778939073339473

In [34]:
surprise.accuracy.rmse(svd_model.test(testset))

RMSE: 0.8814

0.8814366596629473

In [35]:
surprise.accuracy.mae(nmf_model.test(testset))

MAE:  0.7133

0.7132879650726417

In [36]:
surprise.accuracy.rmse(nmf_model.test(testset))

RMSE: 0.9311

0.9310537872004263

In [37]:
knn_model_tuned = KNNBasic({'n_neighbors': 3, 'leaf_size': 5, 'n_jobs': -1}).fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [38]:
knn_model_tuned.test

In [39]:
knn_model_tuned.test(testset)

TypeError: '>=' not supported between instances of 'dict' and 'int'

In [ ]:
surprise.accuracy.mae(knn_model_tuned.test(testset))

In [ ]:
surprise.accuracy.rmse(knn_model_tuned.test(testset))

# Encoding

One Hot Encoding since Genre is a Categorical Column.

In [ ]:
#categorical_vars = ["genres"]
#one_hot_encoder = OneHotEncoder(sparse=False, drop = "first")

In [ ]:
#encoder_vars_array = one_hot_encoder.fit_transform(new_df[categorical_vars])
#encoder_feature_names = one_hot_encoder.get_feature_names(categorical_vars)
#encoder_vars_df = pd.DataFrame(encoder_vars_array, columns = encoder_feature_names)
#Data = pd.concat([new_df.reset_index(drop=True), encoder_vars_df.reset_index(drop=True)], axis = 1)
#Data.drop(categorical_vars, axis = 1, inplace = True)

# EDA and Visualizations

In [ ]:
print('Number of users: ',len(Data.userId.unique()))
print('Number of movie titles: ',len(Data.movieId.unique()))
print('Number of ratings: ' ,Data.shape[0])
print('Number of tags: ' ,Data.tag.count())

In [ ]:
# groupby tags 
group = Data.groupby('tag').count()




group[:10].rating.plot(kind='bar', figsize=(15,6))



plt.title('Top 10 movie tags ');

In [ ]:
#top 10 re-occuring tags
top_tags =Data.groupby(by="tag").count().sort_values('movieId', ascending=False).userId.head(10)

top_tags

In [ ]:
# Distribution of ratings
Data.rating.plot.hist(bins=12)
plt.xlabel('Rating')
plt.title('Rating');